body {
  margin: 0;
  /* font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif; */
  font-family: "Helvetica,Arial,sans-serif"; 
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  /* background-color: transparent !important;
  background: none !important; */

  background-color:#f4f5f7 !important;
  background: #f4f5f7 !important;

}

code {
  /* font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New', */
  font-family: "Helvetica,Arial,sans-serif";
}


html {
  /* background: url("https://theworldtable.net/bg/utah1.jpg"); */
  /* background: url("https://images.pexels.com/photos/19670/pexels-photo.jpg?auto=compress&cs=tinysrgb&dpr=3&h=750&w=1260"); */
  /* background: url("https://images.pexels.com/photos/66284/winter-nature-season-trees-66284.jpeg?auto=compress&cs=tinysrgb&dpr=2&h=750&w=1260"); */
  /* background: url("https://images.pexels.com/photos/3634855/pexels-photo-3634855.jpeg?auto=compress&cs=tinysrgb&dpr=2&h=750&w=1260"); */
  /* background: url("https://images.pexels.com/photos/395198/pexels-photo-395198.jpeg?auto=compress&cs=tinysrgb&dpr=2&h=750&w=1260"); */
  /* background: url(./bg_bird.jpeg); */
  /* background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  min-height: 100%; */
}
/* body {
    margin: 0;
    padding: 0;
} */
*, *::before, *::after {
    box-sizing: border-box;
}
/* h1 {
    font-family: 'Arima Madurai', cursive;
    color: black;
    font-size: 4rem;
    letter-spacing: -3px;
    text-shadow: 0px 1px 1px rgba(255, 255, 255, 0.6);
    position: relative;
    z-index: 3;
} */
/* .container {
    z-index: 1;
    position: relative;
    overflow: hidden;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    align-items: center;
    justify-content: center;
    min-height: 35rem;
    background-blend-mode: soft-light;
    padding: 2rem;
} */
.bird {
    /* background-image: url(http://www.iamramraj.com/demo/Flying_birds_CSS_animation_examples/bird-cells.svg); */
    background-image: url(./bird-cells.svg);
    background-size: auto 100%;
    /* background-color: brown; */
    /* fill: red; */
    width: 88px;
    height: 125px;
    will-change: background-position;
    animation-name: fly-cycle;
    animation-timing-function: steps(10);
    animation-iteration-count: infinite;
}
.bird--one {
    animation-duration: 1s;
    animation-delay: -0.5s;
}
.bird--two {
    animation-duration: 0.9s;
    animation-delay: -0.75s;
}
.bird--three {
    animation-duration: 1.25s;
    animation-delay: -0.25s;
}
.bird--four {
    animation-duration: 1.1s;
    animation-delay: -0.5s;
}
.bird-container {
    position: absolute;
    top: 20%;
    left: -7.5vw;
    transform: scale(0);
    will-change: transform;
    animation-name: fly-right-one;
    animation-timing-function: linear;
    animation-iteration-count: infinite;
}

/*@media screen and (max-width: 800px) {*/
  .bird-container--one {
     animation-duration: 15s;
     animation-delay: 0;
  }
  .bird-container--two {
     animation-duration: 16s;
     animation-delay: 1s;
  }
  .bird-container--three {
     animation-duration: 14.6s;
     animation-delay: 9.5s;
  }
  .bird-container--four {
     animation-duration: 16s;
     animation-delay: 10.25s;
  }
/*}*/

@media screen and (min-width: 1200px) {
  .bird-container--one {
    animation-duration: 20s;
    animation-delay: 0;
  }
  .bird-container--two {
    animation-duration: 20s;
    animation-delay: 1s;
  }
  .bird-container--three {
    animation-duration: 19.6s;
    animation-delay: 9.5s;
  }
  .bird-container--four {
    animation-duration: 21s;
    animation-delay: 10.25s;
  }
}

@media screen and (min-width: 4000px) {
  .bird-container--one {
    animation-duration: 30s;
    animation-delay: 0;
  }
  .bird-container--two {
    animation-duration: 32s;
    animation-delay: 1s;
  }
  .bird-container--three {
    animation-duration: 30.6s;
    animation-delay: 9.5s;
  }
  .bird-container--four {
    animation-duration: 32s;
    animation-delay: 10.25s;
  }
}

@keyframes fly-cycle {
  100% {
    background-position: -900px 0;
  }
}
@keyframes fly-right-one {
  0% {
    left: -10%;
    transform: scale(0.3);
  }
  10% {
    left: 10%;
    transform: translateY(2vh) scale(0.14);
  }
  20% {
    left: 30%;
    transform: translateY(0vh) scale(0.25);
  }
  30% {
    left: 50%;
    transform: translateY(4vh) scale(0.36);
  }
  40% {
    left: 70%;
    transform: translateY(2vh) scale(0.46);
  }
  50% {
    left: 90%;
    transform: translateY(0vh) scale(0.56);
  }
  60% {
    left: 110%;
    transform: translateY(0vh) scale(0.6);
  }
  100% {
    left: 110%;
    opacity: 1;
    transform: translateY(0vh) scale(0.46);
  }
}
@keyframes fly-right-two {
  0% {
    left: -10%;
    opacity: 1;
    transform: translateY(-2vh) scale(0.35);
  }
  10% {
    left: 10%;
    transform: translateY(0vh) scale(0.24);
  }
  20% {
    left: 30%;
    transform: translateY(-4vh) scale(0.36);
  }
  30% {
    left: 50%;
    transform: translateY(1vh) scale(0.45);
  }
  40% {
    left: 70%;
    transform: translateY(-2.5vh) scale(0.5);
  }
  50% {
    left: 90%;
    transform: translateY(0vh) scale(0.45);
  }
  51% {
    left: 110%;
    transform: translateY(0vh) scale(0.35);
  }
  100% {
    left: 110%;
    transform: translateY(0vh) scale(0.25);
  }
}